@import "colors.css";
@import "spacing.css";
@import "font-size.css";
.title {
    font-size: 28px;
}

.standard {
    color: var(--text-color);
    padding: var(--spacing02);
    font-size: var(--font-size-large);
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 8% 87% 5%;
    grid-template-areas: "hd hd hd hd hd hd hd hd" "main main main main main main main main" "ft ft ft ft ft ft ft ft";
}

.content {
    grid-area: main;
    overflow: auto;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-family: 'Palatino';
    color: var(--text-color);
    font-weight: bold;
}

h2 {
    font-family: "Palatino";
    font-size: var(--font-size-large);
    text-decoration: underline;
}

h3 {
    font-family: "Palatino";
    font-size: var(--font-size-medium);
    color: var(--sub-text-color);
}

figure {
    color: var(--sub-text-color);
    font-family: "Optima";
    font-style: italic;
}

blockquote {
    font-family: "Optima";
    font-style: italic;
    font-size: var(--font-size-basic);
    color: var(--sub-text-color);
}

p {
    font-family: "Optima";
    font-size: var(--font-size-basic);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.title-bar {
    display: flex;
    font-size: 5vh;
    height: 100%;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    grid-area: hd;
    width: 100%;
    color: white;
    background-color: var(--section-bg-color-blue);
    padding: 0 var(--spacing04);
    ;
}

nav{
    background-color: var(--section-bg-color-blue);
    grid-area: nav;
    display: flex;
    padding-left: var(--spacing04);
}

nav a {
height: 100%;
width: 100%;
align-content: center;
justify-content: center;
align-items: center;
display: flex;
align-items: center;
}

#author{
border-radius: 50%;
}

nav img {
display: flex;
align-items: center;
height: 70%;
max-width: 8vh;
margin-right: var(--spacing04);
width: auto;
}

.container {
display: grid;
height: 100%;
grid-template-columns: 1fr;
grid-template-rows: 8% 7% 80% 5%;
grid-template-areas: 
"hd"
"nav"
"main"
"ft";
}


/* Large Screens */

@media (min-width:901px) {
.container {
display: grid;
height: 100%;
grid-template-columns: 5% 95%;
grid-template-rows: 8% 87% 5%;
grid-template-areas: 
"nav hd"
"nav main"
"nav ft";
}

nav{
    grid-area: nav;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 4px 0px;
}

nav a {
    align-items: flex-start;
    background-color: transparent;
    padding: 0px 8px;
}

nav img {
width: 100%;
height: auto;
}
}

footer {
    grid-area: ft;
    display: flex;
    font-family: "Optima";
    align-items: center;
    padding-left: var(--spacing04);
    color: white;
    text-align: start;
    background-color: var(--section-bg-color-dark);
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

input[type="submit"] {
    color: var(--button-color);
    margin-top: 16px;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--button-color);
    font-family: "Optima";
    font-weight: bold;
}

input[type="submit"]:hover {
    border-color: var(--button-color-hover);
    color: var(--button-color-hover);
}

input[type="submit"]:focus {
    border-color: var(--button-color-hover);
    color: var(--button-color-hover);
    outline: none;
}