@import "colors.css";
@import "spacing.css";
@import "font-size.css";

.title{
    font-size: 28px;
}
.standard{
    color: var(--text-color);
    padding: var(--spacing02);
    font-size: var(--font-size-large);
}
.container{
    display:grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 8% 87% 5%;
    background-color: red;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
 }

 .content{
    grid-area: main;
    overflow: auto;
    background-color: green;
 }

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1{
   font-family: 'Palatino';
   color: var(--text-color);
}
h2{
   font-family: "Palatino";
   font-size: var(--font-size-large);
}
p{
   font-family: "Optima";
}
.title-bar{
   display: flex;
   font-size: 5vh;
   height: 100%;
   width: 100%;
   align-items: center;
   margin: 0;
}

.header{
   grid-area: hd;
   color: white;
   background-color: var(--section-bg-color-blue);
   padding: 12px 24px;
}

.footer{
   grid-area: ft;
   display: flex;
   font-family: "Optima";
   align-items: center;
   padding-left: var(--spacing04);
   color: white;
   text-align: start;
   background-color:var(--section-bg-color-dark);
}
a:link{
   color: var(--link-color);
}
a:visited{
   color: var(--link-color);
}
a:hover{
   color: var(--link-hover-color);
}
